@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
  user-select: none;
}

* > div {
  @apply rounded-sm;
}

main {
  width: 100vw;
  min-height: 100vh;
  @apply flex flex-col items-center justify-center bg-dark text-yellow;
}

button {
  border: none;
  box-shadow: none;
  outline: none;
  transition: all 0.1s linear;
  @apply bg-white px-2 py-1 font-semibold text-dark uppercase rounded-sm;
}
button:hover {
  @apply !bg-opacity-80;
}
button:disabled {
  cursor: not-allowed;
  @apply !bg-opacity-60;
}
button:disabled:hover {
  @apply !bg-opacity-60;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.message {
  @apply text-4xl text-yellow font-bold;
}

.para-card {
  @apply flex flex-col bg-black w-10/12 h-full py-4;
}
.para-card > .para-head {
  @apply h-full;
}
.para-card > .para-head > h2 {
  @apply text-2xl px-4 py-2 text-white font-bold uppercase;
}
.para-card > .para-head > p {
  @apply px-4 text-lg;
}
.question-card {
  @apply h-full;
}
.question-container {
  @apply bg-black border-b border-dark w-full h-1/3 px-4 py-2 flex flex-col gap-2;
}
.question-container > h2 {
  @apply text-lg text-white font-medium capitalize flex gap-1;
}
.question-container > h2 span {
  @apply text-xl mr-2;
}
.question-container > h1 {
  @apply text-3xl text-pink font-normal;
}
.name-card {
  @apply items-center;
}
.name-card > .question-container {
  @apply self-start items-center justify-center;
}
.name-container {
  @apply flex flex-col items-center gap-3 p-6 w-1/2 h-full justify-center;
}
.name-container > .input-group {
  @apply flex flex-col gap-4 w-3/4 items-start justify-start;
}
.name-container > .input-group > input {
  @apply p-1 text-black w-full;
}

.name-container > .input-group > input:focus,
.name-container > .input-group > input:active,
.name-container > .input-group > button:focus {
  @apply outline outline-pink;
}
.name-container input[type="submit"] {
  @apply w-1/4 bg-yellow text-dark uppercase text-xl;
}
.answers-container {
  display: grid;
  grid-template:
    "p"
    "a1"
    "a2"
    "a3"
    "a4"
    "a5"
    "btns";
  @apply p-6 gap-2 items-center;
}

.answers-container > p {
  grid-area: p;
  @apply text-left capitalize text-xl font-normal;
}

.buttons {
  @apply flex justify-between;
}
.buttons > button {
  @apply bg-white text-black text-sm;
}

.answers-container > .answer {
  cursor: pointer;
  transition: all 0.1s linear;
  @apply flex items-center gap-3 w-full text-lg border-b border-yellow text-white py-0.5 px-2 font-normal;
}
.answers-container > .answer:hover {
  @apply bg-yellow bg-opacity-30;
}
.answers-container > .answer > span {
  @apply bg-white h-[16px] w-[16px] rounded-full relative;
}
.answers-container > .answer > span::before {
  content: " ";
  transform: translate(-50%, -50%);
  @apply bg-dark rounded-full h-[10px] w-[10px] absolute top-1/2 left-1/2 opacity-0;
}
.answers-container > .answer.selected {
  @apply bg-yellow text-dark;
}
.answers-container > .answer.selected:hover {
  @apply border border-yellow text-white bg-yellow bg-opacity-90;
}
.answers-container > .answer.selected > span::before {
  @apply opacity-100;
}
.answers-container > #a1 {
  grid-area: a1;
}
.answers-container > #a2 {
  grid-area: a2;
}
.answers-container > #a3 {
  grid-area: a3;
}
.answers-container > #a4 {
  grid-area: a4;
}
.answers-container > #a5 {
  grid-area: a5;
  @apply mb-2;
}
@media (max-width: 860px) {
  .question-container {
    @apply h-auto py-4;
  }
  .answers-container {
    @apply flex flex-col items-start;
  }
  .answers-container > .answer {
    @apply w-full;
  }
  .name-container {
    @apply w-full;
  }
  .buttons {
    @apply w-full;
  }
}
